body{	background-size: auto;

		/*background-repeat: no-repeat;*/
		padding-bottom: 3%;
		background-attachment: fixed;
		/**font-family: 'Source Sans Pro', sans-serif;/**/
	}
/*h1,h2{font-family:oswald;/*text-transform:uppercase;font-weight:normal;}*/
a{color:#21aabd;text-decoration:none;}
a:hover{color:#333;text-decoration:underline;}
img{border-radius: 5px;}

		/*** Header ***/
		#header{	background:#000000;
					text-align: center; 
					font-family: Brush Script MT, Brush Script Std, cursive; 
					font-size: 70px;
					color: #c32525;
					/*font-family:oswald;/*text-transform:uppercase;font-weight:normal;*/
				}
		
	
		/*** Nav ***/	
		#nav			{background:#000000;color:#fff;text-align: center;position: -webkit-sticky; position: sticky; top: 0;}
			#nav a		{color:#fff; display:inline-block; padding:15px 20px; text-decoration:none; text-transform:uppercase;font-family:oswald;}
			#nav a:hover{background:#333;}
		
		/*** Punto ***/
		#punto	{text-align:center;font-size:50px}
		
		/*** Slider ***/	
		.slider-wrapper	{width:100%;}
		
		/*** Contenuto evi ***/
		.item-evi		{width:280px;padding:18px;float:left;}
		
		/*** Messaggio ***/
		#mes-full		{width:920;padding:20px;clear:both;background: #e2e2e0;}	
			#mes-full p {font-family:oswald;text-transform:uppercase;font-weight:normal;font-size: 28px; font-style:oblique}
		
			/*** Messaggio ***/
		#mes		{width:920;padding:20px;clear:both;background: rgba(0, 0, 0, 0.7); color: white;}	
		#mes p {font-family:oswald;text-transform:uppercase;font-weight:normal;font-size: 28px; font-style:oblique}				
		
		/*** Contenuto ***/
		#content		{width:620px;padding:20px;float:left;background: #F0F0F0 }
			#content .articolo	{border-bottom:1px solid #eee;min-height:190px;padding:0px 0 10px 0;}
			#content .articolo img{float:left;margin: 0 20px 0 0;}
			
			#content .last		{border-bottom:none;}

		/*** Sidebar ***/
		#sidebar		{width:260px;padding:20px;float:left;}
	
		/*** Footer ***/
		#footer			{padding:20px;clear:both;background: #000000;color:#fff; font-family: Brush Script MT, Brush Script Std, cursive; }
		
		#space {width:100%;clear:both;height:1px;padding-bottom: 20%;background: rgba(0, 0, 0, 0);}
		
/* Clear */
.clear{width:100%;clear:both;height:4px;background:gray;}